.walletConfirm{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
	justify-content: space-between;
	height: 30vh;

	h3{
		color: #000;
		text-align: center;
		font-family: SF Pro Text;
		font-size: 40px;
		font-style: normal;
		font-weight: 700;
		line-height: 13px; /* 32.5% */
		letter-spacing: 0.066px;
		cursor: pointer;
	}
	
	h4{
		font-size: 17px;
		font-style: normal;
		font-weight: 500;
		line-height: 13px; /* 76.471% */
		letter-spacing: 0.066px;
	}

	h5{
		font-size: 14px;
		letter-spacing: 1px;
		color: var(--second-text-color);
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: 5px;
		cursor: pointer;
	}

	.addrBox{
		position: relative;

		.toolkit{
			position: absolute;
			background: var(--second-text-color);
			box-shadow: 2px 2px 4px rgba(0,0,0,.1);
			padding: 4px 8px;
			border-radius: 6px;
			bottom:-25px;
			left: 50%;
			transform: translateX(-50%);
			color:#fff;
			font-size: 12px;
			z-index: 1000;

			&::before{
				content: "";
				position: absolute;
				top:-4px;
				left: 50%;
				transform: translateX(-50%) rotate(45deg);
				background: var(--second-text-color);
				width: 10px;
				height: 10px;
			}
		}

		p{
			text-align: center;
			width: 80%;
		}
	}
}

.transactionContainer::-webkit-scrollbar {
  width: 10px;
}

.transactionContainer::-webkit-scrollbar-track {
	border-radius: 8px;
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.4) inset;
  background-color: #fcfcfc;
}

.transactionContainer::-webkit-scrollbar-thumb {
  background-color: rgba(116, 116, 128, 0.2);
	border-radius: 8px;
}

.transactionContainer{
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	height: calc(70vh - 108px);
	overflow-y: scroll;
	
	h3{
		font-size: 14px;
		font-weight: 400;
		color: var(--second-text-color);
		text-transform: uppercase;
	}
}