*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
	text-decoration:none;
	color: rgba(9, 16, 29, 1);
}

:root{
	--main-text-color:rgba(9, 16, 29, 1);
	--second-text-color:#8d8484;
	--border-color:rgba(116, 116, 128, 0.1);
	--text-effect:rgba(52, 199, 89, 1);
}

body{
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 390px;
	min-height: 645px;
}

.layout{
	background-color: #fff;
	display: flex;
	width: 100%;
	height: 645px;
	flex-direction: column;
	align-items: center;
	flex-shrink: 0;
	padding: 16px;
	color: rgba(9, 16, 29, 1);
}

.content{
	width: 100%;
	display: flex;
	flex-direction: column;
}

.scroll{
	overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
  width: 10px;
}

.scroll::-webkit-scrollbar-track {
	border-radius: 8px;
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.4) inset;
  background-color: #fcfcfc;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: rgba(116, 116, 128, 0.2);
	border-radius: 8px;
}