.inputBox{
	display: flex;
	align-items: center;
	border-radius: 8px;
	position: relative;
	height: 10vh;
	margin-top: 14px;
}

.inputBox > .categoryBox{
	width: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	padding: 10px;
	border-radius: 8px;
	box-shadow: 2px 2px 4px rgba(0,0,0,.1);
	background: #fff;
	position: absolute;
	top:60px;
	left: 0;
	z-index: 1000;
}

.inputBox > .categoryBox > span:hover{
	text-decoration: underline;
	cursor: pointer;
}

.inputBox > .control{
	position: absolute;
	top: 15px;
  right: 10px;
	cursor: pointer;
}

.itemContainer{
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	height: calc(90vh - 80px);
	overflow-y: auto;
}

.itemContainer::-webkit-scrollbar {
  width: 10px;
}

.itemContainer::-webkit-scrollbar-track {
	border-radius: 8px;
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.4) inset;
  background-color: #fcfcfc;
}

.itemContainer::-webkit-scrollbar-thumb {
  background-color: rgba(116, 116, 128, 0.2);
	border-radius: 8px;
}