.orderContainer { display: flex; flex-direction: column; gap: 9px; width: 100%; padding-top: 20px; }
.orderContainer h3 { margin: 0 0 6px; font-size: 22px; font-weight: 700; letter-spacing: -.035em; text-transform: capitalize; }
