.orderStatus{
	display: flex;
	align-items:center;
  padding: 2px 6px;
	border-radius:5px;
	font-size:9px;
}

.orderConfirmed{
	background-color: rgb(237, 247, 237);
  color: rgb(30, 70, 32);
}
.orderNotConfirmed{
	background-color: rgb(255, 244, 229);
	color: rgb(102, 60, 0);
} 
.orderDispute{
	color: rgb(95, 33, 32);
	background-color: rgb(253, 237, 237);
} 
.orderClosed{
	color: rgb(1, 67, 97);
	background-color: rgb(229, 246, 253);
}